@import (reference) url('../global/colors.less');
@import (reference) url('../global/mixins.less');

.header {
  box-sizing: border-box;
  .font-size(16);
  margin: 0 auto;
  text-align: center;

  @media (min-width: 640px) {
    min-height: 100vh;
    padding-top: 40vh;
  }

  @media only screen and (min-device-width : 768px)
    and (max-device-width : 1024px)
    and (orientation : portrait) {
      min-height: 40vh;
      padding-top: 20vh;
  }

  @media only screen and (min-device-width : 768px)
    and (max-device-width : 1024px)
    and (orientation : landscape) {
      min-height: 100vh;
      padding-top: 35vh;
  }
}

.header_container {
  background: rgba(0, 0, 0, .4);
  background: repeating-linear-gradient(-45deg,
    rgba(0, 0, 0, .4),
    rgba(0, 0, 0, .4) 5px,
    rgba(0, 0, 0, .2) 5px,
    rgba(0, 0, 0, .2) 10px);
  bottom: 0;
  border-radius: 50%;
  display: inline-block;
  height: 375px;
  left: 50%;
  margin: 0 auto 10px;
  padding: 20px;
  position: absolute;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
  transform: translateX(-50%);
  width: 375px;

  h1 {
    .font-size(32);
    font-weight: normal;
    margin-top: 0;
  }

  address {
    color: @font-light;
    font-style: normal;
  }
}

.header_logo {
  border-radius: 100px;
  height: 200px;
  width: 200px;
}