html {
  font-size: 62.5%;
}
body {
  background: #040308;
  background: linear-gradient(to bottom, #040308 0%, #0d0d0d 28%, #595959 100%);
  color: #D0D0D0;
  font-weight: 400;
  font-family: 'Fira Sans', 'Geneva', sans-serif;
  line-height: 1.4;
  margin: 0;
}
* {
  box-sizing: border-box;
}
.wrap {
  background-color: #212121;
  background-image: url('/images/cover.jpg'), linear-gradient(to right, #000000 0%, rgba(44, 44, 44, 0.7) 10%, rgba(44, 44, 44, 0.6) 50%, rgba(44, 44, 44, 0.7) 90%, #000000 100%);
  background-size: 100vw auto;
  background-position: top center;
  background-repeat: no-repeat;
  padding: 5%;
}
@media (min-width: 600px) {
  .wrap {
    background-size: 100vw auto;
    overflow: auto;
    padding: 0;
  }
}

.beerlist {
  background-color: #6c2505;
  background-size: 40px 160px, 60px 29px, 27px 27px;
  background-image: linear-gradient(94deg, rgba(91, 33, 5, 0.1) 0%, rgba(83, 29, 4, 0.32) 23%, rgba(74, 24, 3, 0.41) 47%, rgba(80, 27, 5, 0.44) 70%, rgba(81, 27, 5, 0.59) 74%, rgba(93, 33, 4, 0.2) 83%, rgba(115, 43, 3, 0.5) 100%), linear-gradient(90deg, #541c09 50%, transparent 50%), linear-gradient(90deg, #7a2e00 50%, #632401 50%);
  display: block;
  padding: .25rem 1rem;
}
.beerlist_list {
  background: #252525;
  background: -moz-radial-gradient(center, ellipse cover, #252525 0%, #000000 100%);
  background: -webkit-radial-gradient(center, ellipse cover, #252525 0%, #000000 100%);
  background: radial-gradient(ellipse at center, #252525 0%, #000000 100%);
  border: 2px solid #713434;
  list-style: none;
  font-family: Palatino, Georgia, serif;
  justify-content: space-between;
  padding: 2rem;
}
.beerlist_item {
  display: inline-block;
  font-weight: normal;
  padding-bottom: 1.5rem;
  position: relative;
  text-transform: uppercase;
  width: 100%;
}
.beerlist_brewery {
  font-size: 22px;
  font-size: 2.2rem;
  font-weight: normal;
  letter-spacing: .05rem;
  line-height: 1.1;
  margin: 0;
}
.beerlist_title {
  font-size: 14px;
  font-size: 1.4rem;
  display: inline-block;
  letter-spacing: .075rem;
  margin-top: 1rem;
}
.beerlist_size {
  font-size: 14px;
  font-size: 1.4rem;
  display: block;
}
.beerlist_price {
  font-size: 22px;
  font-size: 2.2rem;
  font-weight: normal;
  line-height: 1;
  position: absolute;
  right: 0;
  top: 0;
}
.beerlist_price sup {
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 1.2;
  margin-left: 3px;
  margin-right: -13px;
  vertical-align: top;
}
@media (min-width: 760px) {
  .beerlist {
    margin: 0 5%;
    padding: 1rem 2rem;
  }
  .beerlist_list {
    column-count: 2;
    column-gap: 20px;
    padding: 5rem;
  }
  .beerlist_brewery {
    display: block;
    padding-right: 7.5rem;
  }
  .beerlist_title {
    margin-top: 0;
  }
  .beerlist_brewery,
  .beerlist_price {
    font-size: 24px;
    font-size: 2.4rem;
  }
  .beerlist_size {
    position: absolute;
    right: 11%;
    top: 0;
  }
}
@media (min-width: 1030px) {
  .beerlist_brewery,
  .beerlist_price {
    font-size: 32px;
    font-size: 3.2rem;
  }
}


.wood-grain {
  background-color: #6c2505;
  background-size: 40px 160px, 60px 29px, 27px 27px;
  background-image: linear-gradient(94deg, rgba(91, 33, 5, 0.1) 0%, rgba(83, 29, 4, 0.32) 23%, rgba(74, 24, 3, 0.41) 47%, rgba(80, 27, 5, 0.44) 70%, rgba(81, 27, 5, 0.59) 74%, rgba(93, 33, 4, 0.2) 83%, rgba(115, 43, 3, 0.5) 100%), linear-gradient(90deg, #541c09 50%, transparent 50%), linear-gradient(90deg, #7a2e00 50%, #632401 50%);
}
.black-gradient {
  background: #252525;
  background: -moz-radial-gradient(center, ellipse cover, #252525 0%, #000000 100%);
  background: -webkit-radial-gradient(center, ellipse cover, #252525 0%, #000000 100%);
  background: radial-gradient(ellipse at center, #252525 0%, #000000 100%);
}

.header {
  box-sizing: border-box;
  font-size: 16px;
  font-size: 1.6rem;
  margin: 0 auto;
  text-align: center;
}
@media (min-width: 640px) {
  .header {
    min-height: 100vh;
    padding-top: 40vh;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .header {
    min-height: 40vh;
    padding-top: 20vh;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  .header {
    min-height: 100vh;
    padding-top: 35vh;
  }
}
.header_container {
  background: rgba(0, 0, 0, 0.4);
  background: repeating-linear-gradient(-45deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) 5px, rgba(0, 0, 0, 0.2) 5px, rgba(0, 0, 0, 0.2) 10px);
  bottom: 0;
  border-radius: 50%;
  display: inline-block;
  height: 375px;
  left: 50%;
  margin: 0 auto 10px;
  padding: 20px;
  position: absolute;
  text-shadow: 2px 2px 4px #000000;
  transform: translateX(-50%);
  width: 375px;
}
.header_container h1 {
  font-size: 32px;
  font-size: 3.2rem;
  font-weight: normal;
  margin-top: 0;
}
.header_container address {
  color: #D0D0D0;
  font-style: normal;
}
.header_logo {
  border-radius: 100px;
  height: 200px;
  width: 200px;
}

.imageFeed_list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  list-style: none;
  margin: 1rem 0 0;
  padding: 0;
}
.imageFeed_item {
  display: inline-block;
  margin: 1rem 0 0;
  width: 48%;
}
.imageFeed_item img {
  height: auto;
  width: 100%;
}
@media (min-width: 640px) {
  .imageFeed {
    margin-top: 5vh;
  }
}
@media (min-width: 1030px) {
  .imageFeed_item {
    width: 23%;
  }
}

.map {
  height: 300px;
  margin: 5vh 5%;
}
